<!DOCTYPE html>
<html>

<head>
    <title>Date time</title>
</head>

<body>
    <!-- The .Date and .Time variables are template variables that are
        filled in by the Go server. -->
    <p>The date today is {{.Date}}</p>
    <p>And the time is {{.Time}}</p>
</body>

</html>